Repository tedilabs/terraform-aws-vpn, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: customer-gateway, :floppy_disk: vpn-connection

.github/labeler.yaml:

# Modules
":floppy_disk: customer-gateway":
- changed-files:
  - any-glob-to-any-file:
    - modules/customer-gateway/**/*

":floppy_disk: vpn-connection":
- changed-files:
  - any-glob-to-any-file:
    - modules/vpn-connection/**/*

chore: v0.2.0
  VERSION
Labels: none

feat: improve how to use resource_group in modules
  modules/customer-gateway/outputs.tf
  modules/customer-gateway/resource-group.tf
  modules/customer-gateway/variables.tf
  modules/vpn-connection/outputs.tf
  modules/vpn-connection/resource-group.tf
  modules/vpn-connection/variables.tf
Labels: :floppy_disk: customer-gateway, :floppy_disk: vpn-connection

feat: improve how to use resource_group in modules (#7)
  modules/customer-gateway/outputs.tf
  modules/customer-gateway/resource-group.tf
  modules/customer-gateway/variables.tf
  modules/vpn-connection/outputs.tf
  modules/vpn-connection/resource-group.tf
  modules/vpn-connection/variables.tf
Labels: :floppy_disk: customer-gateway, :floppy_disk: vpn-connection

chore: update .github/auto-assign.yaml via Terraform
  .github/auto-assign.yaml
Labels: none

feat(customer-gateway): suppoart aws v6
  modules/customer-gateway/README.md
  modules/customer-gateway/main.tf
  modules/customer-gateway/outputs.tf
  modules/customer-gateway/resource-group.tf
  modules/customer-gateway/variables.tf
  modules/customer-gateway/versions.tf
Labels: :floppy_disk: customer-gateway

feat(vpn-connection): support aws v6
  modules/vpn-connection/README.md
  modules/vpn-connection/main.tf
  modules/vpn-connection/outputs.tf
  modules/vpn-connection/variables.tf
  modules/vpn-connection/versions.tf
Labels: :floppy_disk: vpn-connection

chore: bump to v0.3.0
  VERSION
Labels: none

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

chore: update .github/workflows/github.repo.yaml via Terraform
  .github/workflows/github.repo.yaml
Labels: none

chore: update .github/workflows/yaml.integration.yaml via Terraform
  .github/workflows/yaml.integration.yaml
Labels: none

Remove deprecated pull-request-labeler workflow
  .github/workflows/pull-request-labeler.yaml
Labels: none

Remove deprecated sync-labels workflow
  .github/workflows/sync-labels.yaml
Labels: none

Remove deprecated GitHub Actions workflows (#10)
  .github/workflows/pull-request-labeler.yaml
  .github/workflows/sync-labels.yaml
Labels: none

chore: update .github/dependabot.yml via Terraform
  .github/dependabot.yml
Labels: none

chore: update .tflint.hcl via Terraform
  .tflint.hcl
Labels: none

chore: update .pre-commit-config.yaml via Terraform
  .pre-commit-config.yaml
Labels: none

Update labels.yaml with standard sections
  .github/labels.yaml
Labels: none

chore: remove deprecated workflow file welcome.yaml
  .github/workflows/welcome.yaml
Labels: none

chore: remove deprecated workflow file welcome.yaml (#11)
  .github/workflows/welcome.yaml
Labels: none

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

chore: update .github/workflows/github.repo.yaml via Terraform
  .github/workflows/github.repo.yaml
Labels: none

chore: update .github/labels.common.yaml via Terraform
  .github/labels.common.yaml
Labels: none

chore: remove common labels from labels.yaml
  .github/labels.yaml
Labels: none

chore: update .editorconfig via Terraform
  .editorconfig
Labels: none

chore: update copyright year to 2026
  README.md
Labels: none

chore: update copyright year to 2026 (#13)
  README.md
Labels: none

chore: fix module labels in .github/labels.yaml
  .github/labels.yaml
Labels: none

chore: fix module labels in .github/labels.yaml (#14)
  .github/labels.yaml
Labels: none

docs: add CLAUDE.md for AI-assisted development guidelines
  CLAUDE.md
Labels: none

chore: add CLAUDE.md for AI-assisted development
  CLAUDE.md
Labels: none

chore: update .terraform-docs.yml via Terraform
  .terraform-docs.yml
Labels: none

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

chore: update .pre-commit-config.yaml via Terraform
  .pre-commit-config.yaml
Labels: none

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

docs: regenerate terraform-docs with shared config
  modules/customer-gateway/README.md
  modules/vpn-connection/README.md
Labels: :floppy_disk: customer-gateway, :floppy_disk: vpn-connection

docs: regenerate terraform-docs with shared config (#16)
  modules/customer-gateway/README.md
  modules/vpn-connection/README.md
Labels: :floppy_disk: customer-gateway, :floppy_disk: vpn-connection

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

chore: update .github/workflows/github-actions.integration.yaml via Terraform
  .github/workflows/github-actions.integration.yaml
Labels: none

chore: update .mise/conf.d/common.toml via Terraform
  .mise/conf.d/common.toml
Labels: none

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none
